/*
 **修改mint-ui toast的z-index
*/
.mint-toast{
  z-index:1100 !important;
}

@media only screen and (max-width:320px) {
  html {
      font-size: 9px !important;
  }
}

@media only screen and (min-width:320px) and (max-width:352px) {
  html {
      font-size: 10px !important;
  }
}

@media only screen and (min-width:353px) and (max-width:384px) {
  html {
      font-size: 11px !important;
  }
}

@media only screen and (min-width:384px) and (max-width:416px) {
  html {
      font-size: 12px !important;
  }
}

@media only screen and (min-width:416px) and (max-width:448px) {
  html {
      font-size: 13px !important;
  }
}

@media only screen and (min-width:448px) and (max-width:480px) {
  html {
      font-size: 14px !important;
  }
}

@media only screen and (min-width:480px) and (max-width:512px) {
  html {
      font-size: 15px !important;
  }
}

@media only screen and (min-width:512px) and (max-width:544px) {
  html {
      font-size: 16px !important;
  }
}

@media only screen and (min-width:544px) and (max-width:576px) {
  html {
      font-size: 17px !important;
  }
}

@media only screen and (min-width:576px) and (max-width:608px) {
  html {
      font-size: 18px !important;
  }
}

@media only screen and (min-width:608px) and (max-width:640px) {
  html {
      font-size: 19px !important;
  }
}

@media only screen and (min-width:640px) {
  html {
      font-size: 20px !important;
  }
}
