$baseFont:Microsoft YaHei !important;
$baseAColor:#333;
$baseGrey:#ccc;
$brandWhite:#fff;
$brandRed:#ff3861;
$brandGrey:#eeeded;
$bgGrey:#f5f5f5;
$brandColor-H:#333;
$brandColor-M:#666;
$brandColor-S:#999;
$NavHeight:50px 50px;
$brandOrange:#ff4d00;
$brandOrange-L:#ff3861;
$brandBlue:#69c8ed;
$brandYellow:#fea103;
$orangeLight:#f5b890;
$brandBrown:#42383e;
$bgGreyLight:#f2f5f9;
$blueLight:#69c8ed;